<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Order</h1>
                <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs">
                    <%= order._id %>
                </h6>
                <p>Address:<%=order.address %>
                        </p>
                <p>Phone:<%=order.phone %>
                        </p>
            </div>

        </div>
        <div class="overflow-x-auto relative">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Product name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Price
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Quantity
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                  <% for( let i = 0; i < order.items.length; i++ ) { %>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <%=order.items[i].product.name%>
                            </th>
                            <td class="py-4 px-6">
                                <%=order.items[i].product.price%>
                            </td>
                            <td class="py-4 px-6">
                                <%=order.items[i].quantity%>
                            </td>
                            <td class="py-4 px-6">
                                <%=order.items[i].product.price*order.items[i].quantity%>
                            </td>
                        </tr>
                  <% } %>
                    
                </tbody>
            </table>
        </div>
    </div>

</section>